/* import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    /* reset body margin */
    margin: 0;
    /* reset body padding */
    padding: 0;
    /* set body font */
    font-family: 'Roboto', sans-serif;
}

.header {
    /* set background color */
    background-color: #1F2937;
}

.nav {
    /* set to flex */
    display: flex;
    /* set main axis (horizontal) alignment */
    justify-content: space-around;
    /* add space around items */
    padding: 10px;
}

a {
    /* remove line under links */
    text-decoration: none;
    /* set link text size */
    font-size: 18px;
    /* set link text color */
    color: #E5E7EB;
}

ul {
    /* remove bullets from list items */
    list-style-type: none;
    /* reset default padding */
    padding: 0;
    /* reset default margin */
    margin: 0;
    /* set to flex */
    display: flex;
    /* add space around list items */
    gap: 20px;
}

.logo {
    /* set logo text size */
    font-size: 24px;
    /* set logo text color */
    color: #F9FAF8;
    /* set logo text weight */
    font-weight: bold;
}

.header-links {
    /* set text color */
    color: #E5E7EB;
    /* set text size */
    font-size: 18px;
}

.hero-header {
    /* set text color */
    color: #F9FAF8;
    /* set text size */
    font-size: 48px;
    /* set text weight */
    font-weight: 900px;
    /* set header closer to top of container */
    margin-top: -5px;
}

.hero-subtext {
    /* set text color with opacity */
    color: #E5E7EB80;
    /* set text size */
    font-size: 18px;
    /* add space between button and text */
    padding-bottom: 45px;
}

.hero-image {
    /* set width */
    width: 500px;
    /* set height to preserve aspect ratio */
    height:auto;
    /* add rounded corners */
    border-radius: 50px;
}

.hero-sign-up {
    /* set button background color */
    background-color: #3882F6;
    /* set text color */
    color: #F9FAF8;
    /* set text weight */
    font-weight: bold;
    /* add padding around button text */
    padding: 10px 40px;
    /* add rounded corners */
    border-radius: 10px;
    /* set border width, color and style */
    border: 2px solid #3882F6;
    /* set text size */
    font-size: 18px;
    /* set width */
    width: 200px;
}

.hero {
    /* set to flex */
    display: flex;
    /* set cross axis alignment */
    align-items: flex-start;
    /* add space around items */
    padding: 100px 220px;
}

.hero-content {
    /* set to flex */
    display: flex;
    /* set items to wrap */
    flex-wrap: wrap;
    /* add space on right */
    padding-right: 50px;
}

img {
    /* set width of images */
    width: 220px;
    /* set height of images to preserve aspect ratio */
    height: auto;
    /* add rounded corners */
    border-radius: 40px;
  }

.info {
    /* set text size */
    font-size: 36px;
    /* set text weight */
    font-weight: 900px;
    /* set text color */
    color: #1f2937;
    /* align text */
    text-align: center;
}

.container {
    /* set to flex */
    display: flex;
    /* set main axis alignment */
    justify-content: space-around;
    /* add space around items */
    padding: 50px 240px;
    /* add space between items */
    gap: 60px;
}

.container-text {
    /* set to flex */
    display: flex;
    /* set text to wrap */
    flex-wrap: wrap;
    /* align text */
    text-align: center;
}

.four-bunnies {
    /* set to flex */
    display: flex;
    /* change flex direction */
    flex-direction: column;
    /* align items */
    align-items: center;
    /* add space between items */
    gap: 10px;
}

.quote {
    /* set background color */
    background-color: #E5E7EB;
    /* set text size */
    font-size: 36px;
    /* set text weight */
    font-weight: 100px;
    /* set text style */
    font-style: italic;
    /* set text color */
    color: #1F2937;
    /* set to flex */
    display: flex;
    /* set to wrap */
    flex-wrap: wrap;
    /* add space around text */
    padding: 30px 220px;
}

.source {
    /* set text color */
    color:#3882F6;
    /* set text weight */
    font-weight: 900px;
    /* set text alignment */
    text-align: right;
}

.action {
    /* set background color */
    background-color: #3882F6;
    /* set text size */
    font-size: 30px;
    /* add space around container */
    margin: 70px 250px;
    /* add space around items */
    padding: 50px 30px;
    /* add rounded corners */
    border-radius: 20px;
    /* set text color */
    color:#E5E7EB;
    /* set text weight */
    font-weight: 900px;
    /* set text alignment */
    text-align: center;
    /* set to flex */
    display: flex;
    /* set main axis alignment */
    justify-content: space-around;
}

.action-sub-text {
    /* set text color with opacity */
    color:#E5E7EB90;
    /* set text size */
    font-size: 20px;
    /* set text alignment */
    text-align: left;
}

.cta {
    /* set text color */
    color:#F9FAF8;
    /* add rounded corners */
    border-radius: 10px;
    /* set background color */
    background-color: #3882F6;
    /* set text weight */
    font-weight: 900;
    /* add space around button */
    padding: 10px 20px;
    /* set border */
    border: solid 2px #F9FAF8;
    /* set text size */
    font-size: 18px;
    /* set button width */
    width: 250px;
}

.footer {
    /* set background color */
    background-color: #1F2937;
    /* set text color */
    font-size: 18px;
    /* set text color */
    color: #E5E7EB;
    /* align text */
    text-align: center;
    /* add space around text */
    padding: 40px;
}