/* import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    /* reset body margin */
    margin: 0;
    /* reset body padding */
    padding: 0;
    /* set body font */
    font-family: 'Roboto', sans-serif;
}

.header {
    /* set background color */
    background-color: #1F2937;
}

a {
    /* remove line under links */
    text-decoration: none;
    /* set link text size */
    font-size: 18px;
    /* set link text color */
    color: #e5e7eb
}

ul {
    /* remove bullets from list items */
    list-style-type: none;
    /* reset default padding */
    padding: 0;
    /* reset default margin */
    margin: 0;
}




