/* import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    /* reset body margin */
    margin: 0;
    /* reset body padding */
    padding: 0;
    /* set body font */
    font-family: 'Roboto', sans-serif;
}

.header {
    /* set background color */
    background-color: #1F2937;
}

.nav {
    /* set to flex */
    display: flex;
    /* set main axis (horizontal) alignment */
    justify-content: space-between;
    /* add space around items */
    padding: 10px;
}

a {
    /* remove line under links */
    text-decoration: none;
    /* set link text size */
    font-size: 18px;
    /* set link text color */
    color: #E5E7EB;
}

ul {
    /* remove bullets from list items */
    list-style-type: none;
    /* reset default padding */
    padding: 0;
    /* reset default margin */
    margin: 0;
}

.logo {
    /* set logo text size */
    font-size: 24px;
    /* set logo text color */
    color: #F9FAF8;
}

img {
    /* set width of images */
    width: 200px;
    /* set height of images to preserve aspect ratio */
    height: auto;
  }

  .four-bunnies {
    /* set maximum width for four-bunnies images */
    max-width: 400px;
}

.hero-image {
    /* set width */
    width: 600px;
    /* set height to preserve aspect ratio */
    height:auto;
}

.hero-sign-up {
    /* set button background color */
    background-color: #3882F6;
    /* set text color */
    color: #F9FAF8;
    /* set text weight */
    font-weight: bold;
    /* add padding around button text */
    padding: 10px 40px;
    /* add rounded corners */
    border-radius: 10px;
    /* set border width, color and style */
    border: 2px solid #3882F6;
    /* set text size */
    font-size: 18px;
}

.logo {
    /* set text size */
    font-size: 24px;
    /* set text color */
    color: #F9FAF8;
}

.hero-header {
    /* set text color */
    color: #F9FAF8;
    /* set text size */
    font-size: 48px;
    /* set text weight */
    font-weight:bolder;
}

.hero-subtext {
    /* set text color */
    color: #E5E7EB;
    /* set text size */
    font-size: 18px;
}

.header-links {
    /* set text color */
    color: #E5E7EB;
    /* set text size */
    font-size: 18px;
}